.clock-item {
	background-color: #2a75e6;
	border-radius: 10%;
	padding: 10px;
	margin: 0px 5px 0px 5px;
}

.clock-item:last-child {
	margin-right: 10px;
}

.clock-container {
	margin-left: 20px;
	margin-top: 15px;
}

.clock-items {
	margin-left: 10px;
	display: flex;
	justify-content: flex-end;
	margin-left: 10px;
	font-weight: 600;
}
