/* Full Body */
body {
	background-color: #031d44;
}

/* ---------------------------------------------- */

/* Full Page */
.tasks-page-container {
	margin: 20%;
	margin-top: 2%;
	/* overflow: scroll; */
}

/* ---------------------------------------------- */

/* The Task Grid */
.tasks-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

.tasks-container > div {
	overflow: visible;
}

/* ---------------------------------------------- */

/* Input Container */
.tasks-input {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #dab785;
	border: 2px solid white;
	border-radius: 12rem;
}

/* Input Text Area */
.tasks-add-area {
	background-color: #fffefe;
	border: none;
	padding: 10px;
	border-radius: 20px;
	color: #010101;
	outline: none;
}

/* Add Button */
.tasks-add-button {
	margin-left: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: #04395e;
	border: none;
	color: #fffefe;
	font-size: 13px;
	font-weight: bolder;
	/* background-image: linear-gradient(to right, #04395e, #2a75e6); */
}

.tasks-add-button:hover {
	background-color: #2a75e6;
	transition: 100ms;
}

.tasks-add-button:active {
	background-color: #1a5ec5;
}

/* ---------------------------------------------- */
/* Individual Board */
.tasks-board {
	border: 2px white solid;
	border-radius: 20px;
	background-color: #dab785;
}

/* Task Board heading */
.tasks-board-heading {
	background-color: #157d57;
	margin: 15px;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
	cursor: default;
	user-select: none;
	width: auto;
}

.tasks-item {
	display: block;
	background-color: rgb(148, 190, 169);
	margin: 15px;
	width: inherit;
	border-radius: 20px;
	padding: 7px;
	cursor: grab;
	outline: none;
	border: none;
}

.task-input-el {
	background-color: rgb(148, 190, 169);
	border: none;
	outline: none;
	margin-left: 3px;
	border-radius: 20px;
	color: #fffefe;
}
.task-input-el:hover {
	cursor: grab;
}

.task-input-el:not(:read-only) {
	color: #157d57;
}

.tasks-item .edit-del {
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.tasks-item .edit-del button {
	background-color: rgb(148, 190, 169);
	border: none;
	color: rgb(215, 238, 227);
	font-size: 15px;
	width: 40px;
	cursor: pointer;
}

.tasks-item .edit-del button .delete {
	background-color: rgb(148, 190, 169);
	border: none;
	color: red;
	font-size: 15px;
	width: 40px;
	cursor: pointer;
}

.tasks-item .edit-del button:hover {
	opacity: 0.9;
	font-size: 16px;
	height: 16px;
	transition: 50ms;
}

.tasks-item .edit-del button:active {
	font-size: 14px;
}

/* dragging */
.draggable.dragging {
	opacity: 0.5;
}
